*{
    margin:0;
    padding:0;
}
h1{
    padding-top: 1em;
    color:white;
}
#box{
    color:white;
    border-radius: 10px;
    width:50vw;
    height:25vh; 
    text-align: center;
    position:relative;
    top:10rem;
    left:25%;
    box-shadow:
    inset 0 -3em 3em rgba(26, 45, 144, 0.684),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
#middle{
    margin:1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#text{
   width:50%;
   padding:10px;
   /* outline:none; */
   width:100%; 
}
.copy{
    /* outline:none; */
    background-color: rgb(29 78 216);
    padding:15px;
    width:20%;
    flex-shrink: 0;
}
#last{
    display: flex;
    justify-content: center;
    gap:1em;
}
